@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

.he-chat-container {
  position: fixed;
  bottom: 0;
  right: 0;
}
.he-chat-container-chatbox-classic {
  z-index: 10;
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  width: 37.5rem;
  height: 73rem;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  filter: drop-shadow(0px 5px 4rem rgba(0, 0, 0, 0.22));
  opacity: 0;
  transform: translateY(1000px);
  transition: all 400ms ease-out;
  border-radius: 8px;
}
.he-chat-container-chatbox-classic-header {
  width: 100%;
  height: 28rem;
  padding: 2rem;
  padding-bottom: 6rem;
  background: linear-gradient(135deg, #13cebc 0%, #5362f5 100%);
  border-radius: 8px;
}
.he-chat-container-chatbox-classic-header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
}
.he-chat-container-chatbox-classic-header-top-title {
  display: flex;
  align-items: center;
}
.he-chat-container-chatbox-classic-header-top-title img {
  width: 5rem;
}
.he-chat-container-chatbox-classic-header-top-title h1 {
  margin-left: 1.5rem;
  color: #fff;
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 4.8rem;
}
.he-chat-container-chatbox-classic-header-top-properties {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
  cursor: pointer;
}
.he-chat-container-chatbox-classic-header-top-properties-dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fff;
}
.he-chat-container-chatbox-classic-header-top-properties-menu {
  position: absolute;
  background-color: #fff;
  right: -10px;
  top: 3rem;
  padding: 1.5rem;
  min-width: 22rem;
  width: -moz-max-content;
  width: max-content;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.22));
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 9999;
  display: none;
}
.he-chat-container-chatbox-classic-header-top-properties-menu-element {
  display: flex;
  align-items: center;
}
.he-chat-container-chatbox-classic-header-top-properties-menu-element img {
  margin-right: 10px;
}
.he-chat-container-chatbox-classic-header-top-properties-menu-element span {
  transition: all 200ms ease-in-out;
  font-size: 1.4rem;
}
.he-chat-container-chatbox-classic-header-top-properties-menu-element:hover span {
  transform: translateX(5px);
}
.he-chat-container-chatbox-classic-header-top-properties .he-show-menu {
  display: inline-flex;
}
.he-chat-container-chatbox-classic-header-bottom {
  font-size: 1.6rem;
  color: #fff;
  line-height: 2.4rem;
  margin-bottom: 1.2rem;
}
.he-chat-container-chatbox-classic-tabs-content {
  display: none;
  animation: fadeEffect 1s;
  height: 50rem;
  width: 34.5rem;
  padding-left: 6px;
  padding-right: 6px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  transform: translateY(-6rem);
}
.he-chat-container-chatbox-classic-tabs .he-active {
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.he-chat-container-chatbox-classic-tabs-chat-header {
  height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-bottom: 2.5rem;
}
.he-chat-container-chatbox-classic-tabs-chat-header-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 4px;
}
.he-chat-container-chatbox-classic-tabs-chat-header-top-status {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #00df6f;
}
.he-chat-container-chatbox-classic-tabs-chat-header-top-title {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #2c2c2e;
}
.he-chat-container-chatbox-classic-tabs-chat-header-bottom {
  color: #666668;
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.he-chat-container-chatbox-classic-tabs-chat-main {
  height: 37.5rem;
  width: 100%;
  overflow-y: scroll;
  overflow-x: auto;
  position: relative;
}
.he-chat-container-chatbox-classic-tabs-chat-main-message {
  display: flex;
  justify-content: right;
  align-items: flex-start;
  margin-bottom: 1.7rem;
  clear: left;
}
.he-chat-container-chatbox-classic-tabs-chat-main-message-text {
  margin-right: 8px;
}
.he-chat-container-chatbox-classic-tabs-chat-main-message-text-content {
  background-color: #427fe6;
  color: #fff;
  font-size: 1.4rem;
  line-height: 2.1rem;
  text-align: left;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  margin-bottom: 5px;
}
.he-chat-container-chatbox-classic-tabs-chat-main-message-text-time {
  color: #505050;
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: right;
}
.he-chat-container-chatbox-classic-tabs-chat-main-message-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}
.he-chat-container-chatbox-classic-tabs-chat-main-message-img img {
  width: 3rem;
  height: 3rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
}
.he-chat-container-chatbox-classic-tabs-chat-main .he-message-reply {
  flex-direction: row-reverse;
  float: left;
}
.he-chat-container-chatbox-classic-tabs-chat-main .he-message-reply .he-chat-container-chatbox-classic-tabs-chat-main-message-text {
  margin-right: unset;
  margin-left: 8px;
  margin-right: 3.8rem;
}
.he-chat-container-chatbox-classic-tabs-chat-main .he-message-reply .he-chat-container-chatbox-classic-tabs-chat-main-message-text-content {
  background-color: #f1f1f1;
  color: #212226;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 1rem;
}
.he-chat-container-chatbox-classic-tabs-chat-main .he-message-reply .he-chat-container-chatbox-classic-tabs-chat-main-message-text-time {
  text-align: left;
}
.he-chat-container-chatbox-classic-tabs-chat-main .he-message-writing {
  display: flex;
  align-items: center;
  justify-content: center;
}
.he-chat-container-chatbox-classic-tabs-chat-main .he-message-writing .he-chat-container-chatbox-classic-tabs-chat-main-message-writing-text {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  color: #212226;
  border-radius: 10px;
  border-top-left-radius: 0px;
  margin-left: 8px;
  height: 4rem;
  width: 7rem;
}
.he-chat-container-chatbox-classic-tabs-chat-main .he-message-writing .he-chat-container-chatbox-classic-tabs-chat-main-message-writing-text-dot {
  width: 8px;
  height: 8px;
  background-color: #828f9c;
  border-radius: 50%;
  animation: ball 550ms cubic-bezier(0, 0, 0.15, 1) alternate infinite;
}
.he-chat-container-chatbox-classic-tabs-chat-main .he-message-writing .he-chat-container-chatbox-classic-tabs-chat-main-message-writing-text-dot:nth-of-type(2) {
  animation-delay: 180ms;
}
.he-chat-container-chatbox-classic-tabs-chat-main .he-message-writing .he-chat-container-chatbox-classic-tabs-chat-main-message-writing-text-dot:nth-of-type(3) {
  animation-delay: 350ms;
}
.he-chat-container-chatbox-classic-tabs-chat-main::before {
  content: "";
  position: fixed;
  left: 0;
  height: 2rem;
  width: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 20%, rgba(255, 255, 255, 0)) repeat-x;
}
.he-chat-container-chatbox-classic-tabs-chat-form {
  height: 4rem;
  width: 32rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.07);
  border-radius: 4px;
}
.he-chat-container-chatbox-classic-tabs-chat-form-input {
  height: 4rem;
  background-color: rgba(250, 250, 250, 0.5);
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  width: 25rem;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #000;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-right: none;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  outline: none;
}
.he-chat-container-chatbox-classic-tabs-chat-form-btn {
  width: 4rem;
  height: 4rem;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.he-chat-container-chatbox-classic-tabs-chat-form-emojis {
  border-color: #e1e1e1;
  border-left: none;
  border-right: none;
  background-color: rgba(250, 250, 250, 0.5);
  position: relative;
}
.he-chat-container-chatbox-classic-tabs-chat-form-emojis img {
  position: absolute;
  z-index: 1000;
}
.he-chat-container-chatbox-classic-tabs-chat-form-emojis-container {
  display: none;
  position: absolute;
  bottom: 6rem;
  right: 5rem;
}
.he-chat-container-chatbox-classic-tabs-chat-form-emojis:hover {
  background-color: rgba(225, 225, 225, 0.6);
}
.he-chat-container-chatbox-classic-tabs-chat-form .he-show-emojis {
  display: inline-block;
}
.he-chat-container-chatbox-classic-tabs-chat-form-submit {
  background-color: #427fe6;
  border-color: #427fe6;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.he-chat-container-chatbox-classic-tabs-chat-form-submit:hover {
  background: linear-gradient(135deg, #13cebc 0%, #5362f5 100%);
  border-color: linear-gradient(135deg, #13cebc 0%, #5362f5 100%);
}
.he-chat-container-chatbox-classic-tabs-faq {
  overflow-y: auto;
  padding: 1rem;
}
.he-chat-container-chatbox-classic-tabs-faq-body {
  margin-bottom: 2rem;
  border: 1px solid rgba(66, 127, 230, 0.3);
  border-radius: 4px;
}
.he-chat-container-chatbox-classic-tabs-faq-body-question {
  cursor: pointer;
  padding: 5px;
  font-weight: 600;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 1.4rem;
  transition: all 100ms ease-in-out;
}
.he-chat-container-chatbox-classic-tabs-faq-body-question:hover {
  background-color: #427fe6;
  border: #427fe6;
  color: #fff;
}
.he-chat-container-chatbox-classic-tabs-faq-body-answer {
  display: none;
  max-height: 0;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 1.3rem;
  padding: 5px;
}
.he-chat-container-chatbox-classic-tabs-faq-body-answer.open {
  display: block;
  max-height: 10rem; /* Adjust the maximum height as needed */
  opacity: 1;
}
.he-chat-container-chatbox-classic-footer {
  margin-bottom: 1rem;
  transform: translateY(-4.5rem);
}
.he-chat-container-chatbox-classic-footer-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}
.he-chat-container-chatbox-classic-footer-tabs-tab {
  padding: 1rem 2.5rem;
  color: #000;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.he-chat-container-chatbox-classic-footer-tabs-tab:hover {
  background-color: #eff0f5;
}
.he-chat-container-chatbox-classic-footer-tabs .he-active-tab {
  background-color: #eff0f5;
}
.he-chat-container-chatbox-classic-footer-copyright {
  display: flex;
  justify-content: center;
}
.he-chat-container-chatbox-classic-footer-copyright div {
  color: #000;
  font-size: 1.2rem;
  line-height: 2rem;
  display: flex;
}
.he-chat-container-chatbox-classic-footer-copyright div a {
  margin-left: 5px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.he-chat-container-chatbox-classic-footer-copyright div a img {
  margin-right: 2px;
}
.he-chat-container-chatbox .he-show-classic {
  opacity: 1;
  transform: translateY(-90px);
  transition: all 400ms ease-in;
}
.he-chat-container-chatbox-column {
  width: 41rem;
  height: 100vh;
  background-color: #eff0f5;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
}
.he-chat-container-chatbox-column-header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.he-chat-container-chatbox-column-header-top-logo {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.he-chat-container-chatbox-column-header-top-logo svg {
  width: 5rem;
  fill: #333;
}
.he-chat-container-chatbox-column-header-top-logo h1 {
  color: #333;
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 4.8rem;
}
.he-chat-container-chatbox-column-header-top-btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.he-chat-container-chatbox-column-header-top-btns-btn {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  background-color: #fefefe;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.he-chat-container-chatbox-column-header-top-btns-properties {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
}
.he-chat-container-chatbox-column-header-top-btns-properties-dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #25506b;
}
.he-chat-container-chatbox-column-header-top-btns-properties-menu {
  position: absolute;
  background-color: #fff;
  right: 0px;
  top: 3.5rem;
  padding: 1.5rem;
  min-width: 22rem;
  width: -moz-max-content;
  width: max-content;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  filter: drop-shadow(0px 4px 1.5rem rgba(0, 0, 0, 0.22));
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  z-index: 9999;
  display: none;
}
.he-chat-container-chatbox-column-header-top-btns-properties-menu-element {
  display: flex;
  align-items: center;
}
.he-chat-container-chatbox-column-header-top-btns-properties-menu-element img {
  margin-right: 10px;
}
.he-chat-container-chatbox-column-header-top-btns-properties-menu-element span {
  transition: all 200ms ease-in-out;
  font-size: 1.4rem;
}
.he-chat-container-chatbox-column-header-top-btns-properties-menu-element:hover span {
  transform: translateX(5px);
}
.he-chat-container-chatbox-column-header-top-btns-properties .he-show-menu {
  display: inline-flex;
}
.he-chat-container-chatbox-column-header-top-btns-close {
  display: none;
}
.he-chat-container-chatbox-column-header-bottom {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1.6rem;
  color: #333;
  line-height: 2.4rem;
  margin-bottom: 2rem;
}
.he-chat-container-chatbox-column-body {
  height: 100%;
  border-radius: 4px;
  background-color: #fff;
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.he-chat-container-chatbox-column-body-content {
  width: 100%;
  height: 100%;
  min-height: 30rem;
  display: none;
  flex-direction: column;
  align-items: center;
  animation: fadeEffect 1s;
}
.he-chat-container-chatbox-column-body-content-header {
  background-color: #fff;
  width: 100%;
  display: flex;
  gap: 6rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}
.he-chat-container-chatbox-column-body-content-header-tab {
  cursor: pointer;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
  color: #828f9c;
  position: relative;
  transition: all 300ms ease-in-out;
}
.he-chat-container-chatbox-column-body-content-header-tab::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 200%;
  bottom: -12px;
  left: 50%;
  background-color: #1486b8;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.he-chat-container-chatbox-column-body-content-header-tab:hover {
  color: #000;
}
.he-chat-container-chatbox-column-body-content-header-tab:hover::after {
  opacity: 1;
}
.he-chat-container-chatbox-column-body-content-header .he-selected-inner-tab {
  color: #000;
}
.he-chat-container-chatbox-column-body-content-header .he-selected-inner-tab::after {
  opacity: 1;
}
.he-chat-container-chatbox-column-body .he-active-tab {
  visibility: visible;
}
.he-chat-container-chatbox-column-body-chat {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}
.he-chat-container-chatbox-column-body-chat-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.he-chat-container-chatbox-column-body-chat-main-chat {
  display: block;
  height: 100%;
}
.he-chat-container-chatbox-column-body-chat-main-chat-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.he-chat-container-chatbox-column-body-chat-main-chat-header-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 4px;
}
.he-chat-container-chatbox-column-body-chat-main-chat-header-top-status {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #00df6f;
}
.he-chat-container-chatbox-column-body-chat-main-chat-header-top-title {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #2c2c2e;
}
.he-chat-container-chatbox-column-body-chat-main-chat-header-bottom {
  color: #666668;
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.he-chat-container-chatbox-column-body-chat-main-chat-body {
  overflow-y: scroll;
  overflow-x: auto;
  position: relative;
  margin-bottom: 2rem;
  height: 100%;
  max-height: 60rem;
}
.he-chat-container-chatbox-column-body-chat-main-chat-body-message {
  display: flex;
  justify-content: right;
  align-items: flex-start;
  margin-bottom: 1.7rem;
  clear: left;
  gap: 8px;
}
.he-chat-container-chatbox-column-body-chat-main-chat-body-message-text-content {
  background-color: #427fe6;
  color: #fff;
  font-size: 1.4rem;
  line-height: 2.1rem;
  text-align: left;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  margin-bottom: 5px;
}
.he-chat-container-chatbox-column-body-chat-main-chat-body-message-text-time {
  color: #505050;
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: right;
}
.he-chat-container-chatbox-column-body-chat-main-chat-body-message-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}
.he-chat-container-chatbox-column-body-chat-main-chat-body-message-img img {
  width: 3rem;
  height: 3rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
}
.he-chat-container-chatbox-column-body-chat-main-chat-body .he-message-reply {
  flex-direction: row-reverse;
  float: left;
}
.he-chat-container-chatbox-column-body-chat-main-chat-body .he-message-reply .he-chat-container-chatbox-column-body-chat-main-chat-body-message-text {
  margin-right: unset;
}
.he-chat-container-chatbox-column-body-chat-main-chat-body .he-message-reply .he-chat-container-chatbox-column-body-chat-main-chat-body-message-text-content {
  background-color: #f1f1f1;
  color: #222;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 10px;
}
.he-chat-container-chatbox-column-body-chat-main-chat-body .he-message-reply .he-chat-container-chatbox-column-body-chat-main-chat-body-message-text-time {
  text-align: left;
}
.he-chat-container-chatbox-column-body-chat-main-chat-body .he-message-writing {
  display: flex;
  align-items: center;
  justify-content: center;
}
.he-chat-container-chatbox-column-body-chat-main-chat-body .he-message-writing .he-chat-container-chatbox-column-body-chat-main-chat-body-message-writing-text {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  color: #212226;
  border-radius: 10px;
  border-top-left-radius: 0px;
  margin-left: 8px;
  height: 4rem;
  width: 7rem;
}
.he-chat-container-chatbox-column-body-chat-main-chat-body .he-message-writing .he-chat-container-chatbox-column-body-chat-main-chat-body-message-writing-text-dot {
  width: 8px;
  height: 8px;
  background-color: #a0a0a0;
  border-radius: 50%;
  animation: ball 550ms cubic-bezier(0, 0, 0.15, 1) alternate infinite;
}
.he-chat-container-chatbox-column-body-chat-main-chat-body .he-message-writing .he-chat-container-chatbox-column-body-chat-main-chat-body-message-writing-text-dot:nth-of-type(2) {
  animation-delay: 180ms;
}
.he-chat-container-chatbox-column-body-chat-main-chat-body .he-message-writing .he-chat-container-chatbox-column-body-chat-main-chat-body-message-writing-text-dot:nth-of-type(3) {
  animation-delay: 350ms;
}
.he-chat-container-chatbox-column-body-chat-main-chat-form {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  position: relative;
}
.he-chat-container-chatbox-column-body-chat-main-chat-form-input {
  height: 4rem;
  background-color: rgba(250, 250, 250, 0.5);
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  width: 100%;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #000;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-right: none;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  outline: none;
}
.he-chat-container-chatbox-column-body-chat-main-chat-form-btn {
  width: 4rem;
  height: 4rem;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.he-chat-container-chatbox-column-body-chat-main-chat-form-emojis {
  border-color: #e1e1e1;
  border-left: none;
  border-right: none;
  background-color: rgba(250, 250, 250, 0.5);
}
.he-chat-container-chatbox-column-body-chat-main-chat-form-emojis img {
  position: absolute;
  z-index: 1000;
}
.he-chat-container-chatbox-column-body-chat-main-chat-form-emojis-container {
  display: none;
  position: absolute;
  bottom: 6rem;
  right: 5rem;
}
.he-chat-container-chatbox-column-body-chat-main-chat-form-emojis:hover {
  background-color: rgba(225, 225, 225, 0.6);
}
.he-chat-container-chatbox-column-body-chat-main-chat-form .he-show-emojis {
  display: inline-block;
}
.he-chat-container-chatbox-column-body-chat-main-chat-form-submit {
  background-color: #427fe6;
  border-color: #427fe6;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.he-chat-container-chatbox-column-body-chat-main-chat-form-submit:hover {
  background-color: #107ba9;
  border-color: #107ba9;
}
.he-chat-container-chatbox-column-body-chat-main-asset {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.he-chat-container-chatbox-column-body-chat-main-asset-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 35px;
}
.he-chat-container-chatbox-column-body-chat-main-asset-header-btn {
  cursor: pointer;
  background-color: rgba(33, 33, 33, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  padding: 4px 8px 4px 8px;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  transition: all 300ms ease-in-out;
}
.he-chat-container-chatbox-column-body-chat-main-asset-header-btn:hover {
  background-color: rgba(20, 134, 184, 0.08);
  border-color: #1486b8;
  color: #25506b;
}
.he-chat-container-chatbox-column-body-chat-main-asset-header .he-selected-asset {
  background-color: rgba(20, 134, 184, 0.08);
  border-color: #1486b8;
  color: #25506b;
}
.he-chat-container-chatbox-column-body-chat-main-asset-body {
  height: 100%;
}
.he-chat-container-chatbox-column-body-chat-main-asset-body-category {
  margin-bottom: 3rem;
}
.he-chat-container-chatbox-column-body-chat-main-asset-body-category-date {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #828f9c;
  margin-bottom: 7px;
}
.he-chat-container-chatbox-column-body-chat-main-asset-body-category-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}
.he-chat-container-chatbox-column-body-chat-main-asset-body-category-content-element {
  cursor: pointer;
}
.he-chat-container-chatbox-column-body-chat-main-asset-body-category-content-element img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.he-chat-container-chatbox-column-body-chat-main-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.he-chat-container-chatbox-column-body-chat-main-data-element {
  width: 100%;
  background-color: #fff;
  padding: 15px;
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.he-chat-container-chatbox-column-body-chat-main-data-element::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 75%;
  background-color: rgba(33, 33, 33, 0.08);
  bottom: 0;
  right: 0;
  transition: all 700ms ease-in-out;
}
.he-chat-container-chatbox-column-body-chat-main-data-element:hover::after {
  width: 100%;
}
.he-chat-container-chatbox-column-body-chat-main-data-element-img {
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.he-chat-container-chatbox-column-body-chat-main-data-element-img img {
  width: 3rem;
}
.he-chat-container-chatbox-column-body-chat-main-data-element-text {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.he-chat-container-chatbox-column-body-chat-main-data-element-text h3 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
}
.he-chat-container-chatbox-column-body-chat-main-data-element-text p {
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.6);
}
.he-chat-container-chatbox-column-body-chat-main-data-element-btn {
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.he-chat-container-chatbox-column-body-chat-main-data-element-btn img {
  width: 10px;
}
.he-chat-container-chatbox-column-body-chat-main-inner {
  display: none;
  width: 100%;
}
.he-chat-container-chatbox-column-body-chat-main .he-active-inner {
  display: block;
}
.he-chat-container-chatbox-column-body-chat-slideshow {
  margin: 2rem auto;
  position: relative;
  width: 100%;
  height: 15rem;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0rem 0rem 2.5rem 0rem rgb(233, 232, 232);
  overflow: hidden;
  background: linear-gradient(135deg, #13cebc 0%, #5362f5 100%);
}
.he-chat-container-chatbox-column-body-chat-slideshow div {
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  color: #fff;
}
.he-chat-container-chatbox-column-body-chat-slideshow div.active-slide {
  opacity: 1;
}
.he-chat-container-chatbox-column-body-chat-footer {
  margin-bottom: 8px;
}
.he-chat-container-chatbox-column-body-chat-footer-copyright {
  display: flex;
  justify-content: center;
}
.he-chat-container-chatbox-column-body-chat-footer-copyright div {
  color: #000;
  font-size: 1.2rem;
  line-height: 2rem;
  display: flex;
}
.he-chat-container-chatbox-column-body-chat-footer-copyright div a {
  margin-left: 5px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.he-chat-container-chatbox-column-body-chat-footer-copyright div a img {
  margin-right: 2px;
}
.he-chat-container-chatbox-column-body-faq {
  overflow-y: auto;
}
.he-chat-container-chatbox-column-body-faq-body {
  margin-bottom: 2rem;
  border: 1px solid rgba(66, 127, 230, 0.3);
  border-radius: 4px;
}
.he-chat-container-chatbox-column-body-faq-body-question {
  cursor: pointer;
  padding: 5px;
  font-weight: 600;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 1.6rem;
  transition: all 100ms ease-in-out;
}
.he-chat-container-chatbox-column-body-faq-body-question:hover {
  background-color: #427fe6;
  border: #427fe6;
  color: #fff;
}
.he-chat-container-chatbox-column-body-faq-body-answer {
  display: none;
  max-height: 0;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 1.4rem;
  padding: 5px;
}
.he-chat-container-chatbox-column-body-faq-body-answer.open {
  display: block;
  max-height: 10rem; /* Adjust the maximum height as needed */
  opacity: 1;
}
.he-chat-container-chatbox-column-footer-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.he-chat-container-chatbox-column-footer-tabs-tab {
  padding: 1rem 1.6rem;
  color: #000;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.he-chat-container-chatbox-column-footer-tabs-tab:hover {
  background-color: #eff0f5;
}
.he-chat-container-chatbox-column-footer-tabs .he-active-tab {
  background-color: #eff0f5;
}
.he-chat-container-chatbox .he-show-column {
  opacity: 1;
  visibility: visible;
}
.he-chat-container-chatbox-mode {
  display: none;
}
.he-chat-container-chatbox .he-current-mode {
  display: flex;
}
.he-chat-btn {
  position: fixed;
  bottom: 3rem;
  right: 2rem;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideEffect {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-375px);
  }
}
@keyframes bounce {
  0% {
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@keyframes ball {
  from {
    transform: translateY(5px);
  }
  to {
    transform: translateY(-5px);
  }
}
@media screen and (max-height: 1170px) {
  .he-chat-container-chatbox-column-body-chat-main-chat-body {
    height: 45rem;
  }
}
@media screen and (max-height: 1024px) {
  .he-chat-container-chatbox-column-body-chat-main-chat-body {
    height: 35rem;
  }
}
@media screen and (max-height: 935px) {
  .he-chat-container-chatbox-column-body-chat-main-chat-body {
    height: 32rem;
  }
}
@media screen and (max-height: 855px) {
  html {
    font-size: 8px;
  }
}
@media screen and (max-height: 710px) {
  html {
    font-size: 7px;
  }
  .he-chat-container-chatbox-column-body-chat-main-chat-body {
    height: 30rem;
  }
}
@media screen and (max-height: 630px) {
  html {
    font-size: 6px;
  }
  .he-chat-container-chatbox-column-body-chat-main-chat-body {
    height: 25rem;
  }
}/*# sourceMappingURL=style.css.map */